#container {
    margin: 50px;
    background-color: #666666;
}

h1 {
    color: #ffffff;
    text-align: center;
}

img {
    position: relative;
    left: 100px;
    margin: 0 auto;
    padding: 0 auto;
    width: 900px;
    height: 700px;
    background-size: cover;
    background-repeat: no-repeat; 
}

h2 {
    color: white;
    text-align: center;
}

p {
    margin: 20px;
    color: white;
}

footer {
    color: white;
    text-align: center;
}